<!-- <section> -->
	<div class="c-container">
		<div class="contact">
			<div class="contact-info">
				<h2 class="section-title">Зв'язатися з нами</h2>
				<p>Залишіть заявку, щоб замовити перевезення або дізнатися більше про послуги компанії</p>
			</div>

			<form action="" class="contact-form">
				<div class="contact-form__line">
					<div class="contact-form__item label-rotate">
						<input class="label-rotate__input" id="name" name="name" type="text" placeholder="Ваше ім’я">
						<label for="name" class="label-rotate__label">Ваше ім’я</label>
					</div>
				</div>

				<div class="contact-form__line">
					<div class="contact-form__item--short label-rotate">
						<input class="label-rotate__input" id="tel-number" name="tel-number" type="text" placeholder="Номер телефону">
						<label for="tel-number" class="label-rotate__label">Номер телефону</label>
					</div>

					<div class="contact-form__item--short label-rotate">
						<input class="label-rotate__input" id="Email" name="Email" type="text" placeholder="E-mail">
						<label for="Email" class="label-rotate__label">E-mail</label>
					</div>
				</div>

				<div class="contact-form__line">
					<div class="contact-form__item label-rotate">
						<textarea class="label-rotate__input" placeholder="Ваше повідомлення" id="message" name="message"></textarea>
						<label for="message" class="label-rotate__label">Ваше повідомлення</label>
					</div>
				</div>

				<p class="contact-form__notice">Надсилаючи повідомлення ви даєте згоду на <a href="#" target="_blank">обробку песональних данних.</a></p>

				<button class="main-btn popup-default_open">Надіслати</button>

				<!-- <div class="main-btn main-btn--send popup-default_open">Надіслати</div>
				<style>
					.main-btn--send {
						display: flex;
						align-items: center;
						justify-content: center;
						width: max-content;
					}
				</style> -->
			</form>
		</div>
	</div>
<!-- </section> -->